<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Adoptamascotas" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Adoptamascotas" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <header>
      <%= render 'shared/header.html.erb' %>
    </header>
    <main>
      <%#= render 'layouts/messages' %>
    
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>

      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </main>
    <footer>
      <%= render 'shared/footer.html.erb' %>
    </footer>
  </body>
</html>
